@font-face {
  font-family: 'nasalization';
  src: url('../fonts/nasalization/nasalization.eot');
  src: url('../fonts/nasalization/nasalization.woff2') format('woff2'),
       url('../fonts/nasalization/nasalization.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nasalization/nasalization.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes floatx {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-10px);
	}
	100% {
		transform: translatex(0px);
	}
}

@keyframes bg {
    0% {
        background: #352254
    }

    100% {
        background: #101b39
    }
}

@keyframes form {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes logo {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

body,html {
    height: 100%
}

body {
    animation: bg .7s 1s backwards;
    background: #101b39;
    color: #ffffff;
    font-family: Josefin Sans;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}
.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.stars {
    background: url(../img/stars.png) repeat top center;
    z-index: 0;
}
.white-block {
    margin-top: 20px;
    width: 46px;
    height: 6px;
    background: #fff;
}
.reversed {
  display: inline-block;
  -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.Logo {
    animation: logo 1s 1s backwards;
    color: transparent;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    text-shadow: none;
    width: 100%;
}

.font-nasa {
  font-family: nasalization;
}
/*neons*/
.text-blue {
  color: #3faafb;
}
.text-turquoise {
  color: #78f8e4;
}
.text-orange {
  color: #f4aa33;
}
.text-pink {
  color: #e9467e;
}
.text-purple {
  color: #ad5fff;
}
.text-green {
  color: #a5f312;
}

.svg.svg-blue path {
  fill: #3faafb;
}
.svg.svg-turqoise path {
  fill: #78f8e4;
}
.svg.svg-orange path {
  fill: #f4aa33;
}
.svg.svg-pink path {
  fill: #e9467e;
}
.svg.svg-purple path {
  fill: #ad5fff;
}
.svg.svg-green path {
  fill: #a5f312;
}
.svg.svg-white path {
  fill: #ffffff;
}
@media (max-width: 1439px) {
  .mood, .icon-wrapper {
    display: none;
  }
}
@media (min-width: 1220px) {
  .mood {
    display: block;
    position: absolute;
    top: 0;
    right: 36px;
    transform: translatey(0px);
  	animation: float 6s ease-in-out infinite;
  }
  .mood img {
    width: 200px;
  }
  .icon-wrapper {
    display: block;
    position: absolute;
    left: 32px;
    bottom: 16rem;
    transform: translatex(0px);
    animation: floatx 7s ease-in-out infinite;
  }

}

.savethedate {
    width: 30rem;
    margin: 0 auto;
    padding: 0 16px;
    animation: form .8s 1.5s backwards;
}

.btn-pink {
  border: 1px solid #e9467e;
  color: #e9467e;
}
.btn-pink:hover, .btn-pink:active, .btn-pink:visited {
  color: #ffffff;
  background: #e9467e;
}
@media (max-width: 425px) {
  .savethedate {
      width: 20rem;
  }
  .form-submit {
    margin-top: 10px;
  }
}
#mce-responses {
  margin-top: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin-top: 0.7em;
}

h2 {
    font-weight: 100;
    font-size: 1.2em;
    margin: 0 0 1em
}

h2 sup {
    margin: 0 1px 0 -1px;
}

@keyframes moodAppear {
    from {
        transform: translateY(100%);
    }
    to {
        transform: none;
    }
}


nav {
    position: absolute;
    top: 1.7em;
    left: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-transform: uppercase;
    font-size: 0.82em;
    display: inline-block;
    transform: translateX(-10px);
    transition: transform 250ms, opacity 250ms;
}

.arrow {
    display: inline-flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid;
    transition: transform 250ms;
    margin-right: 1.5em;
    transform: translateX(10px)
}

nav a:hover {
    opacity: 1;
    transform: none;
}

nav a:hover .arrow {
    transform: none;
}

footer {
    position: absolute;
    top: 2em;
    right: 1em;
    justify-content: space-between;
}

.footerlinks {
    display: none;
}

.footerlinks-link {
    transition: opacity .3s
}
.sociallinks a i {
  margin: 0 5px;
}
.sociallinks a i:hover, .footerlinks a:hover {
  color: #e9467e;
}

.sociallinks-link {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: inline-block;
    height: 1.25rem;
    margin-left: .625rem;
    opacity: .75;
    overflow: hidden;
    text-indent: -9999px;
    transition: opacity .3s;
    width: 1.25rem
}

.footerlinks-link:hover, .sociallinks-link:hover {
    opacity: 1
}



.form {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 550px;
    width: 100%;
}

.form-input,
.form-submit,
.form-title {
    animation: form .8s 3s backwards;
}

.form-signup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form-input {
    width: 100%;
}

.form-title {
    color: #2e2e2c;
    font-size: .6em;
    padding: 0.4em 1em 1em;
    display: inline-block;
    font-weight: 100;
    text-transform: uppercase;
}

.form-input {
  animation-delay: 3.4s;
  color: #ffffff;
  padding: 1em;
  font-size: 16px;
  border-bottom: 1px solid #e9467e;
}
.form-input:focus, .form-input:active {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
}
.form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e9467e;
}
.form-input::-moz-placeholder { /* Firefox 19+ */
  color: #e9467e;
}
.form-input:-ms-input-placeholder { /* IE 10+ */
  color: #e9467e;
}
.form-input:-moz-placeholder { /* Firefox 18- */
  color: #e9467e;
}

.form-submit {
  animation-delay: 3.44s;
  padding: 1em;
  font-size: 16px;
  margin-bottom: 4em;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}


@media (min-width: 400px) {
    .form-signup {
        flex-direction: row;
    }

    .form-submit {
        margin-bottom: 0;
    }
}


@media (min-width: 768px) {

    nav {
        left: 2em;
    }
    footer {
        top: auto;
        bottom: 2em;
        left: 2em;
        right: 2em;
        display: flex
    }
    .footerlinks {
        display: inline-block;
    }
}

.fadeinlast {
    animation: form 1s 4s backwards;
    animation: form 1s 4s backwards;
}

.center {
  margin-top: 5rem;
  z-index: 3333;
}
