@font-face {
  font-family: "nasalization";
  src: url("../fonts/nasalization/nasalization.eot");
  src: url("../fonts/nasalization/nasalization.woff2") format("woff2"),
    url("../fonts/nasalization/nasalization.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/nasalization/nasalization.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes form {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  background: #08112b;
}
.font-nasa {
  font-family: nasalization;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.stars {
  background: url(../img/stars.png) repeat top center;
  z-index: 0;
}
h5 {
  line-height: 1.5;
}
p {
  font-size: 22px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

.body-font {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

li {
  line-height: 2;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: transparent;
  border-bottom: 4px solid;
}
.navbar-default {
  background: transparent !important;
  border: none !important;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: transparent;
    border-bottom: 3px solid #ffffff;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #ffffff;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover  {
    background-color: transparent;
}
header h2 {
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-top: 70px;
}
header a h2 {
  color: #222;
}
header nav a span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
header nav a:hover span {
  color: #fff;
  margin-left: 10px;
}
header .white-block {
  margin-top: 50px;
  width: 46px;
  height: 6px;
  background: #fff;
}
header .title {
  margin-top: 80px;
}
header h1 {
  font-weight: 900;
  letter-spacing: 0.12em;
  margin: 0;
  margin-left: -6px;
}
header h1 span {
  display: inline-block;
  margin-top: 18px;
  vertical-align: top;
  letter-spacing: 0;
}
header .title a {
  display: inline-block;
  margin-top: 6px;
  margin-right: -70px;
  background: #222;
  padding: 26px 80px;
  color: #fff;
  border-radius: 12px;
  letter-spacing: 0.2em;
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.logo {
  padding: 0 16px;
}
.logo img {
  width: 100%;
}
.fadein {
  animation: form 0.5s 0.7s backwards;
}
@media (min-width: 991px) {
  header .title a:hover {
    margin-top: 12px;
    margin-right: -80px;
    padding: 20px 90px;
  }
  header .title {
    margin-top: 50px;
  }
}
.grid {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.text-white {
  color: #ffffff;
}

.fixed-top {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 12px;
  margin-top: -220px;
  margin-left: 100px;
  overflow: hidden;
}
.section {
  position: static;
}
section.san-francisco {
  margin-top: 100px;
}
.absolute {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 100px;

  display: none;
}

@media (min-width: 768px) {

  .absolute {
    display: block;
  }
}
.absolute.above {
  z-index: 2;
}
.absolute h2 {
  font-weight: 900;
  letter-spacing: -0.04em;
  z-index: -1;
}
.lg-green {
  width: 160px;
  height: 160px;
  background: #00f1c9;
  border-radius: 12px;
  margin-left: -80px;
  margin-top: 200px;
}
.sm-green {
  width: 60px;
  height: 60px;
  background: #00f1c9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.sm-purple {
  width: 60px;
  height: 60px;
  background: #5000f1;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.xs-green {
  width: 60px;
  height: 60px;
  background: #00f1c9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.md-green {
  width: 120px;
  height: 120px;
  background: #00f1c9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 10px;
}
.lg-purple {
  width: 80px;
  height: 80px;
  background: #5000f1;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 60px;
}
.date {
  margin-top: 400px;
  font-weight: 600;
  color: #5000f1;
}
.temp {
  margin-top: 200px;
  font-weight: 900;
  letter-spacing: -0.07em;
  color: #5000f1;
}
.teamimg {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.mt-200 {
  margin-top: 200px;
}
.copy {
  margin-top: 200px;
  margin-bottom: 12em;
  z-index: 4444;
}
.text-editor {
  background: #222;
  padding: 60px 50px;
  border-radius: 12px;
  margin-left: 15px;
}
.index-5 {
  z-index: 5555;
}
.btn-pink {
  border: 1px solid #e9467e;
  background: #e9467e;
  color: #ffffff !important;
}
.btn-pink:hover,
.btn-pink:active {
  color: #e9467e !important;
  background: transparent;
}
.btn-xl {
  padding: 10px 24px;
}
/*neons*/
.text-blue {
  color: #3faafb;
}
.text-turquoise {
  color: #78f8e4;
}
.text-orange {
  color: #f4aa33;
}
.text-pink {
  color: #e9467e;
}
.text-purple {
  color: #ad5fff;
}
.text-green {
  color: #a5f312;
}
.text-josefin {
  font-family: "Josefin Sans", sans-serif;
}
code {
  text-align: left;
  padding: 0;
  background: none;
  border-radius: 0;
  color: #00f1c9;
}
.md-facebook {
  width: 60px;
  height: 60px;
  background: #5000f1;
  border-radius: 12px;
  margin-left: 68px;
  margin-top: 600px;
}
.md-twitter {
  width: 120px;
  height: 120px;
  background: #00f1c9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 60px;
}
.md-dixonandmoe {
  width: 120px;
  height: 120px;
  background: #5000f1;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 760px;
}
.bt-green {
  width: 60px;
  height: 60px;
  background: #00f1c9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 700px;
}
.bt-purple {
  width: 80px;
  height: 80px;
  background: #5000f1;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 600px;
}
.share {
  position: relative;
  top: -50px;
  z-index: 4444;
}
a.hack-link,
a.hack-link:hover,
a.hack-link:active,
a.hack-link:visited {
  display: inline-block;
  color: #ffffff;
}
.share a i {
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.share a.hack-slink i {
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
}
span.purple {
  color: #5000f1;
}
span.green {
  color: #a0f100;
}
span.white {
  color: #fff;
}
.h-vh {
  height: 100vh;
}
.mt-12em {
  margin-top: 12em;
}
.mt-20em {
  margin-top: 20em;
}
.mt-150 {
  margin-top: 150px;
}
.f-4em {
  font-size: 4em;
}
.user-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}
.user-pic img {
  width: 100%;
  height: 100%;
}
.social-btns {
  text-align: right;
}
.teamname {
  margin: 30px 0 0;
}
.commimg {
  width: 150px;
  height: 150px;
}

.sponsorimg {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
@-webkit-keyframes fuzz {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fuzz2 {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fuzz3 {
  0% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
  .social-btns,
  .contact-btns {
    text-align: center;
  }
  header .title a {
    width: 100%;
    margin-top: 24px;
    margin-right: auto;
    text-align: center;
    padding: 20px 0;
  }
  .subtitle {
    margin-top: 8px;
  }
  .lg-green {
    margin-top: -60px;
  }
  .absolute h2 {
    margin-left: 0;
  }
  .temp {
    margin-top: -50px;
    text-align: right;
  }

  .text-editor {
    padding: 16px 16px;
    border-radius: 6px;
    margin-left: auto;
  }
  .copy {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .share {
    margin-top: 360px;
  }
}

/* font helpers */

/* For Hero Titles */

.f-6,
.f-headline {
  font-size: 9.6rem !important;
}

.f-5,
.f-subheadline {
  font-size: 8rem !important;
}

/* Type Scale */

.f1 {
  font-size: 4.8rem !important;
}

.f2 {
  font-size: 3.6rem !important;
}

.f3 {
  font-size: 2.4rem !important;
}

.f4 {
  font-size: 2rem !important;
}

.f5 {
  font-size: 1.6rem !important;
}

.f6 {
  font-size: 1rem !important;
}

.f7 {
  font-size: 0.625rem !important;
}

.fw-300 {
  font-weight: 300 !important;
}


header .title {
  margin-top: 20px;
}

.Menu-list {
  width: 100%;
  text-align: center;
}

.h-vh {
  display: none;
}

@media (min-width: 480px) {

  header .title {
    margin-top: 80px;
  }

  .h-vh {
    display: block;
  }

  .Menu-list {
    width: auto;
    text-align: right;
  }
}

#agenda,
#mentors,
#challenges,
#sponsors,

{
  outline: none;
}
