---
layout: default
---

<article class="hero">

  <h1 class="hero-headline">JSHacks</h1>

  <h2 class="hero-date">22-23 Octomber 2016</h2>

  <h3 class="hero-location">Bucharest - Chisinau</h3>

  <p>
    JavaScript Enthusiasts * Change Makers * Friends and Visionaries * Community Builders<br><br>
    This event is for you.<br><br>
    Social coding * Workshops * Networking * Challenges
  </p>

  <section class="countdown" id="js-countdown">
      Days: <span class="countdown-segment js-countdown-days"></span>
      Hours: <span class="countdown-segment js-countdown-hours"></span>
      Minutes: <span class="countdown-segment js-countdown-minutes"></span>
      Seconds: <span class="countdown-segment js-countdown-seconds"></span>
  </section>

  <ul class="social">
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}

    {% if site.facebook_username %}
    <li>
      {% include icon-facebook.html username=site.facebook_username %}
    </li>
    {% endif %}
  </ul>

</article>

{% comment %}


  <p>[email form -> integrated with mailing list (e.g. MailChimp / SendGrid / etc)]</p>

  <p>[Share on Facebook, Twitter icons]</p>
{% endcomment %}