<!-- Header Start -->
<!-- header Nav Start -->
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbarhome" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand" href="http://jshacks.io/">
          <img src="{{ site.baseurl }}/img/logo_buc_chisinau_white.png" alt="Logo JSHacks">
        </a>
    </div>
  </div>
</nav>


