<article class="HeroSection" id="hero">

  <h1 class="HeroSection-headline">
    {% include icon-logo.svg %}
    <b class="HeroSection-headlineText">{{ site.title }}</b>
  </h1>

  <p class="HeroSection-date">21-23 October 2016</p>

  {% include menu.html %}

  {% comment %}
    <a class="hero-register" href="https://docs.google.com/forms/d/e/1FAIpQLSdLAVD14_u8vWKGQ2gLs8pLvVLSqFb36p_5kbic8gLZV5GPeQ/viewform" target="_blank">Register</a>

    <section class="countdown" id="js-countdown">
      <div class="countdown-segment">
        <span class="countdown-time js-countdown-days"></span>
        <span class="countdown-label">Days</span>
      </div>

      <div class="countdown-segment">
        <span class="countdown-time js-countdown-hours"></span>
        <span class="countdown-label">Hours</span>
      </div>

      <div class="countdown-segment">
        <span class="countdown-time js-countdown-minutes"></span>
        <span class="countdown-label">Minutes</span>
      </div>

      <div class="countdown-segment">
        <span class="countdown-time js-countdown-seconds"></span>
        <span class="countdown-label">Seconds</span>
      </div>
    </section>

    <p class="hero-body">
      JavaScript Enthusiasts<br>Change Makers<br>Friends and Visionaries<br>Community Builders<br><br>
      This event is about you.<br><br>
      Social coding • Workshops • Networking • Challenges
    </p>

    {% include social.html %}

  {% endcomment %}

</article>