// http://name-of-color.com
// base
$color-bunting:         #101b39;
$color-portGore:        #352254;
$color-rhino:           #2a3354;
$color-pickledBluewood: #2e4e5a;

// neons
$color-dodgerBlue: #3faafb;
$color-heliotrope: #ad5fff;
$color-mandy:      #e9467e;
$color-inchWorm:   #a5f312;
$color-saffron:    #f4aa33;

// White & Black
$color-white: #fcfcfc;
$color-black: #444444;