// Max Widths
$max-width-content:   980px;
$max-width-constrain: 1440px;


// Breakpoints
$bp-small:  480px;
$bp-medium: 768px;
$bp-large:  992px;
$bp-wide:   1280px;

$breakpoints: (
  smallest:    (max: $bp-small - 1),
  small-only:  (max: $bp-medium - 1),
  small:       (min: $bp-small),
  medium:      (min: $bp-medium),
  medium-only: (min: $bp-medium, max: $bp-large - 1),
  large:       (min: $bp-large),
  large-only:  (min: $bp-large, max: $bp-wide - 1),
  wide:        (min: $bp-wide),

  max:         (min: $max-width-constrain),
);


// spacing variables
$spacing-small:  20px;
$spacing-medium: 30px;
$spacing-large:  40px;


// z-index
$negative-z: -1;
$neutral-z:   0;
$positive-z:  1;
$high-z:      2;
$higher-z:    3;
$top-z:       5;


// Fonts
$ff-alfa: 'Josefin Sans', sans-serif;

// $fs-little:     10px;
// $fs-small:      14px;
$fs-regular:    16px;
// $fs-medium:     18px;
// $fs-large:      20px;
$fs-big:        24px;
// $fs-biggest:    28px;

// $fw-thin:    100;
// $fw-light:   200;
$fw-regular: 400;
$fw-medium:  600;
// $fw-bold:    700;
// $fw-black:   900;

@import
  "mixins/media",

  "colors",

  "base/normalize",
  "base/foundation",

  "sections/hero",
  "sections/social",
  "sections/countdown"
;