<ul class="social">
  {% if site.github_username %}
  <li>
    <a class="social-link" href="https://github.com/{{ include.username }}" target="_blank">
      <span class="social-icon social-icon--github">
        {% include icon-github.svg %}
      </span>
      <span class="social-username">{{ include.username }}</span>
    </a>
  </li>
  {% endif %}

  {% if site.twitter_username %}
  <li>
    <a class="social-link" href="https://twitter.com/{{ include.username }}" target="_blank">
      <span class="social-icon social-icon--twitter">
        {% include icon-twitter.svg %}
      </span>
      <span class="social-username">{{ include.username }}</span>
    </a>
  </li>
  {% endif %}

  {% if site.facebook_username %}
  <li>
    <a class="social-link" href="https://facebook.com/{{ include.username }}" target="_blank">
    <span class="social-icon social-icon--facebook">
      {% include icon-facebook.svg %}
    </span>
      <span class="social-username">{{ include.username }}</span>
    </a>
  </li>
  {% endif %}
</ul>