@font-face {
  font-family: 'nasalization';
  src: url('../fonts/nasalization/nasalization.eot');
  src: url('../fonts/nasalization/nasalization.woff2') format('woff2'),
       url('../fonts/nasalization/nasalization.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nasalization/nasalization.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes form {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
    color: #ffffff;
    width: 100%;
    overflow-x: hidden;
		background: #101b39;
}
.font-nasa {
  font-family: nasalization;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.stars {
    background: url(../img/stars.png) repeat top center;
    z-index: 2;
}
h4 {
    font-size: 22px;
    margin-bottom: 28px;
}
p {
    font-size: 22px;
}
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #5000F1;
    cursor: pointer;
}
header h2 {
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.15em;
    margin-top: 70px
}
header a h2 {
    color: #222
}
header a h2 span {
    transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55)
}
header a:hover h2 span {
    color: #fff;
    margin-left: 10px
}
header .white-block {
    margin-top: 20px;
    width: 46px;
    height: 6px;
    background: #fff
}
header .title {
    margin-top: 80px;
}
header h1 {
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 0.12em;
    margin: 0;
    margin-left: -6px;
}
header h1 span {
    display: inline-block;
    font-size: 20px;
    margin-top: 18px;
    vertical-align: top;
    letter-spacing: 0;
}
header .title a {
    display: inline-block;
    margin-top: 6px;
    margin-right: -70px;
    background: #222;
    padding: 26px 80px;
    color: #fff;
    border-radius: 12px;
    font-size: 26px;
    letter-spacing: 0.2em;
    transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.logo {
	padding: 0 16px;
}
.logo img {
	width: 100%;
  animation: form .8s 1.5s backwards;
}
.fadein {
  animation: form .8s 1.5s backwards;
}
@media (min-width: 991px) {
    header .title a:hover {
        margin-top: 12px;
        margin-right: -80px;
        padding: 20px 90px;
    }
}
header h3 {
    font-size: 21px;
}
.grid {
    position: fixed;
    width: 100%;
		z-index: 2;
}
.text-white {
  color: #ffffff;
}

.fixed-top {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 12px;
    margin-top: -220px;
    margin-left: 100px;
    overflow: hidden;
}
.section {
    position: static;
}
section.san-francisco {
    margin-top: 100px
}
.absolute {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 100px
}
.absolute.above {
    z-index: 2
}
.absolute h2 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: #F0F0F0;
    z-index: -1
}
.section h4 {
    text-transform: uppercase
}
.lg-green {
    width: 160px;
    height: 160px;
    background: #00F1C9;
    border-radius: 12px;
    margin-left: -80px;
    margin-top: 200px
}
.sm-green {
    width: 60px;
    height: 60px;
    background: #00F1C9;
    border-radius: 12px;
    margin-left: -30px;
    margin-top: 400px
}
.sm-purple {
    width: 60px;
    height: 60px;
    background: #5000F1;
    border-radius: 12px;
    margin-left: -30px;
    margin-top: 400px
}
.xs-green {
    width: 60px;
    height: 60px;
    background: #00F1C9;
    border-radius: 12px;
    margin-left: -30px;
    margin-top: 400px
}
.md-green {
    width: 120px;
    height: 120px;
    background: #00F1C9;
    border-radius: 12px;
    margin-left: -60px;
    margin-top: 10px
}
.lg-purple {
    width: 80px;
    height: 80px;
    background: #5000F1;
    border-radius: 12px;
    margin-left: 57px;
    margin-top: 60px
}
.date {
    margin-top: 400px;
    font-size: 48px;
    font-weight: 600;
    color: #5000F1
}
.temp {
    margin-top: 200px;
    font-size: 280px;
    font-weight: 900;
    letter-spacing: -0.07em;
    color: #5000F1
}
.teamimg {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.mt-200 {
    margin-top: 200px
}
.copy {
    margin-top: 200px;
    margin-bottom: 12em;
    z-index: 4444;
}
.text-editor {
    background: #222;
    padding: 60px 50px;
    border-radius: 12px;
    margin-left: 15px
}
.index-5 {
  z-index: 5555;
}
.btn-pink {
  border: 1px solid #e9467e;
  color: #e9467e;
}
.btn-pink:hover, .btn-pink:active, .btn-pink:visited {
  color: #ffffff;
  background: #e9467e;
}
/*neons*/
.text-blue {
  color: #3faafb;
}
.text-turquoise {
  color: #78f8e4;
}
.text-orange {
  color: #f4aa33;
}
.text-pink {
  color: #e9467e;
}
.text-purple {
  color: #ad5fff;
}
.text-green {
  color: #a5f312;
}
code {
    text-align: left;
    padding: 0;
    font-size: 22px;
    background: none;
    border-radius: 0;
    color: #00F1C9
}
.md-facebook {
    width: 60px;
    height: 60px;
    background: #5000F1;
    border-radius: 12px;
    margin-left: 68px;
    margin-top: 600px
}
.md-twitter {
    width: 120px;
    height: 120px;
    background: #00F1C9;
    border-radius: 12px;
    margin-left: -60px;
    margin-top: 60px
}
.md-dixonandmoe {
    width: 120px;
    height: 120px;
    background: #5000F1;
    border-radius: 12px;
    margin-left: -60px;
    margin-top: 760px
}
.bt-green {
    width: 60px;
    height: 60px;
    background: #00F1C9;
    border-radius: 12px;
    margin-left: -30px;
    margin-top: 700px;
}
.bt-purple {
    width: 80px;
    height: 80px;
    background: #5000F1;
    border-radius: 12px;
    margin-left: 57px;
    margin-top: 600px;
}
.share {
    position: relative;
    top: -50px;
    z-index: 4444;
}
.share a {
    font-size: 2rem;
}
a.hack-link,
a.hack-link:hover,
a.hack-link:active,
a.hack-link:visited {
		display: inline-block;
    color: #ffffff;
}
.share a i {
    transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.share a.hack-slink i {
    margin-left: 10px;
		color: #ffffff;
		cursor: pointer;
}
span.purple {
    color: #5000F1
}
span.green {
    color: #A0F100
}
span.white {
    color: #fff
}
.h-vh {
  height: 100vh;
}
.mt-12em {
  margin-top: 12em;
}
.mt-20em {
  margin-top: 20em;
}
.mt-150 {
  margin-top: 150px;
}
.f-4em {
  font-size: 4em;
}
.jshacks-video {
  z-index: 4;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
  border: 10px solid white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.social-btns {
  text-align: right;
}
.teamname {
  margin: 30px 0 0;
}
.commimg {
  width: 150px;
  height: 150px;
}
.mt-30 {
  margin-top: 30px;
}
@-webkit-keyframes fuzz
/* Safari and Chrome */

{
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fuzz2
/* Safari and Chrome */

{
    0% {
        opacity: 0
    }
    48% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fuzz3
/* Safari and Chrome */

{
    0% {
        opacity: 0
    }
    54% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes stretch
/* Safari and Chrome */

{
    0% {
        -webkit-transform: scaleX(0);
        opacity: 0
    }
    50% {
        -webkit-transform: scaleX(0);
        opacity: 1
    }
    60% {
        -webkit-transform: scaleX(0)
    }
    100% {
        -webkit-transform: scaleX(1)
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0)
    }
    30% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@media (max-width: 767px) {
    .mobile-hide {
        display: none;
    }
    .social-btns, .contact-btns {
      text-align: center;
    }
    header h1 {
        font-size: 64px;
    }
    header .title a {
        width: 100%;
        margin-top: 24px;
        margin-right: auto;
        text-align: center;
        padding: 20px 0;
    }
    .subtitle {
        margin-top: 8px;
    }
    .lg-green {
        margin-top: -60px;
    }
    .absolute h2 {
      margin-left: 0;
      font-size: 70px;
    }
    .temp {
        margin-top: -50px;
        font-size: 170px;
        text-align: right
    }

    h4 {
        font-size: 32px;
    }
    .text-editor {
        padding: 16px 16px;
        border-radius: 6px;
        margin-left: auto
    }
    code {
        font-size: 12px
    }
    .copy {
        margin-top: 80px;
        margin-bottom: 20px
    }
    .share {
        margin-top: 360px
    }
}
