.AboutSection {
  background-color: $color-rhino;

  @include media(medium) {
    p {
      vertical-align: top;
      display: inline-block;

      width: 50%;

      &:nth-child(2n+1) {
        padding-right: $spacing-unit * 2;
      }

      &:nth-child(2n) {
        padding-left: $spacing-unit * 2;
      }
    }
  }
}

.AboutSection-organizersList {
  text-align: center;

  a {
    color: $color-white;
    font-weight: $fw-medium;
    text-decoration: none;
  }
}

.AboutSection-communitiesList {
  max-width: 300px;
  margin: 0 auto;

  text-align: center;
  font-size: 0;

  > li {
    display: inline-block;
    vertical-align: middle;

    width: calc(50% - #{$spacing-unit});
    max-width: 150px;
    margin-bottom: $spacing-unit * 2;

    &:nth-child(2n+1) {
      margin-right: $spacing-unit;
    }

    &:nth-child(2n) {
      margin-left: $spacing-unit;
    }
  }

  @include media(medium) {
    max-width: 450px;

    > li {
      width: calc(33.33% - #{$spacing-unit * 3});
      max-width: 150px;

      margin: 0 $spacing-unit * 1.5 $spacing-unit * 3;
    }
  }
}

.AboutSection-communitiesLink {
  display: block;

  width: 100%;

  > img {
    width: 100%;
  }
}