.countdown {
  width: 100%;
  max-width: 300px;

  margin: 20px 0;

  font-size: 0;
}

.countdown-segment {
  display: inline-block;
  vertical-align: middle;

  width: 25%;
}

.countdown-time {
  display: block;
  margin: 0 0 5px;

  font-size: $fs-large;
}

.countdown-label {
  display: block;

  font-size: $fs-little;
  text-transform: lowercase;
}