.countdown {
  width: 100%;
  max-width: 300px;

  margin: 20px 0;

  font-size: 0;

  @include media(medium) {
    max-width: 400px;

    margin: 40px 0;
  }
}

.countdown-segment {
  display: inline-block;
  vertical-align: middle;

  width: 25%;
}

.countdown-time {
  display: block;
  margin: 0 0 5px;

  font-size: $fs-large;

  @include media(medium) {
    font-size: $fs-big;
  }
}

.countdown-label {
  display: block;

  font-size: $fs-little;
  text-transform: lowercase;

  @include media(medium) {
    font-size: $fs-medium;
  }
}