$menu-item-height: $spacing-unit * 6;
.Menu {
  position: absolute;
  left: 0; right: 0;
  bottom: 100%;

  background-color: $color-rhino;

  > li {
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: $spacing-unit * 2;
      right: $spacing-unit * 2;

      height: 1px;
      background-color: $color-bunting;
    }
  }

  .HeroSection & {
    position: static;

    background-color: transparent;
    left: auto; right: auto; bottom: auto;

    > li:after { content: none; }

    @include media(medium) {
      height: auto;

      > li { display: block; height: auto; }
    }
  }

  @include media(medium) {
    position: static;
    left: auto; right: auto; bottom: auto;

    height: 100%;
    margin-right: $spacing-unit * -2;

    background-color: transparent;

    > li {
      display: inline-block;
      vertical-align: middle;

      height: 100%;
    }
  }
}

.Menu-item {
  display: block;
  display: flex;
  align-items: center;

  height: $menu-item-height;
  padding: 2px $spacing-unit * 2 0;

  font-size: $fs-big;
  font-weight: $fw-medium;
  color: $color-white;
  text-decoration: none;

  .HeroSection & {
    justify-content: center;

    padding: $spacing-unit / 2 $spacing-unit * 4 0;
    height: calc(7vh + #{$spacing-unit * 2});

    @include media(medium) {
      font-size: $fs-bigger;
    }
  }

  @include media(medium) {
    height: 100%;
  }
}