.Section {
  position: relative;
  padding: $spacing-unit $spacing-unit * 3;

  // min-height: calc(100vh - #{$header-height});

  h1 {
    margin: 0 0 $spacing-unit * 3;

    font-size: $fs-bigger;
    text-align: center;
  }

  h2 {
    margin: $spacing-unit * 6 0 $spacing-unit * 3;

    font-size: $fs-big;
    text-align: center;
  }

  p {
    margin: 0 0 $spacing-unit * 3;
  }

  @include media(medium) {
    padding: $spacing-unit * 2 $spacing-unit * 4;

    h1 {
      margin: 0 0 $spacing-unit * 5;

      font-size: $fs-biggest;
    }
  }
}

.Section-container {

  padding: $spacing-unit * 2;

  @include media(medium) {
    padding: $spacing-unit * 3;
  }

  @include media(large) {
    max-width: 1024px;
    margin: 0 auto;
  }
}

