.social {
  padding: 0;

  > li {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.social-link {

}

.social-icon {
  display: block;

  width: 24px;
  height: 24px;

  > svg {
    width: 100%;
    height: 100%;

    fill: rgba($color-white, 0.75);
  }
}

.social-username {
  display: block;

  width: 0;
  height: 0;

  overflow: hidden;
}